.main, .skills, .about, .projects {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.title {
	margin-left: 73px;
	top: 220px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

div.skills-title {
	position: absolute;
	background-color: transparent;
	font-size: 25px;
	width: 120%;
	margin-top: 14%;
	text-align: center;
}

div.title p, div.skills-title p {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

img#audrey {
	  position: absolute;
     width: 16vw;
    left: -0.5vw;
}

div.fill-blanks {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 230px;
}


.main {
    background-image: url(./images/laptop_edited.jpg);
    min-height: 546px;
    opacity: 0.8;
}

.skills {
		background-image: url(./images/skills.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.about {
    background-image: url(./images/shadow2.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.projects {
    background-image: url(./images/projector.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.main-text {
	text-align: justify;
	color: #777;
	background-color:white;
	padding:40px 80px;
	margin: 0 auto;
}

.skills-text {
	text-align: justify;
	background-color:#2C2728;
	color: white;
	padding: 78px 80px;
}

.projects-text {
	text-align: justify;
	color: #777;
	background-image: url(./images/galaxy.jpg);
	padding:70px 80px;
	margin: 0 auto;
}

.projects-text h2, .projects-text p {
	z-index: 2;
}

span.caption {
	font-weight: bold;
	font-size: 37px;
}

h2.skills-title {
	margin-bottom: 20px;
}

span#details {
	position: absolute;
   bottom: 25%;
   margin-left: 50%;
   font-size: 50px;
}

p.about-me {
	 line-height: 31px;
}

p.contact-me {
	font-size: 17px;
}

span.contact-icons {
	font-size: 40px;
	margin-right: 11px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

a:link {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

i:hover {
	animation: bounce 1s;
}

footer {
	text-align: center;
	color: grey;
}

@media (max-width: 576px) {
	.main, .skills, .about, .projects {
    /* Create the parallax scrolling effect */
    height: 50%;
	}

	div.title {
		background-color: rgba(255,255,255,0.5);
		padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
  }

  div.skills-title {
  	margin-top: 29%;
  }

	div.title p, div.skills-title p {
		font-size: 7.5vw;
	}

	img#audrey {
		width: 43vw;
		left: -19vw;
	}

	.skills {
		min-height: 300px;
	}

	.main-text {
		padding: 20px 80px;
	}

	.skills-text {
		padding: 50px 80px;
	}

	span.caption {
	font-size: 28px;
}

	span#details {
    font-size: 7.5vw;
    bottom: 39vh;
	}

	p.contact-me {
		font-size: 3.5vw;
	}

	span.contact-icons {
		font-size: 6.5vw;
	}

}




