.main, .skills, .about, .projects {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.title {
	margin-left: 73px;
	top: 220px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

div.skills-title {
	position: absolute;
	background-color: transparent;
	font-size: 25px;
	width: 100%;
	margin-top: 14%;
	text-align: center;
}

div.title p, div.skills-title p {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: bold;
}

@keyframes audrey {
	100% {
		stroke-dashoffset: 0;
	}
}

#audr1 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 6;
	animation: audrey 3s linear forwards;
}

#audr2 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 4;
	animation: audrey 2s linear forwards .3s;
}

#audr3 {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	stroke-width: 6;
	animation: audrey .9s linear forwards .5s;
}

#audr4 {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	stroke-width: 6;
	animation: audrey 2s linear forwards .6s;
}

#audr5 {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	stroke-width: 6;
	animation: audrey 2s linear forwards 0.8s;
}

#audr6 {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	stroke-width: 7;
	animation: audrey 4s linear forwards 1s;
}

#audr7 {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	stroke-width: 6;
	animation: audrey 3s linear forwards 1.2s;
}

#audr8 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 6;
	animation: audrey 2s linear forwards 1.4s;
}

#e1 {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	stroke-width: 5;
	animation: audrey 1s linear forwards 1.6s;
}

#y1 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 1.8s;
}

#k1 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 2s;
}

#k2 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 2.1s;
}


#k3 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 2.2s;
}

#o1 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 2.6s;
}


#w1 {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke-width: 5;
	animation: audrey 1s linear forwards 2.8s;
}

svg#audrey {
	  position: absolute;
    margin-left: 297px;
    margin-top: 4px;
    margin-right: 250px;
}

div.fill-blanks {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

/*div.fill-blanks p {
font-size: 50px;
font-family: 'Over the Rainbow', cursive;
}*/

.main {
    background-image: url(./images/laptop_edited.jpg);
    min-height: 600px;
    opacity: 0.8;
}

.skills {
		background-image: url(./images/skills.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.about {
    background-image: url(./images/shadow2.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.projects {
    background-image: url(./images/projector.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.main-text {
	text-align: justify;
	color: #777;
	background-color:white;
	padding:20px 80px;
	margin: 0 auto;
}

.skills-text {
	text-align: justify;
	background-color:#2C2728;
	color: white;
	padding: 78px 80px;
}

.projects-text {
	text-align: justify;
	color: #777;
	background-image: url(./images/galaxy.jpg);
	padding:70px 80px;
	margin: 0 auto;
}

.projects-text h2, .projects-text p {
	z-index: 2;
}

span.caption {
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 37px;
}

h2.skills-title {
	margin-bottom: 20px;
}


@media (max-width: 576px) {
	.main, .skills, .about, .projects {
    /* Create the parallax scrolling effect */
    height: 50%;
	}

	div.title {
		margin-left: 27px;
	}

	div.title p, div.skills-title p {
		font-size: 23px;
	}

	svg#audrey {
		margin-left: 138px;
    margin-top: 2px;
    margin-right: 30px;
	}

	.main, .about, .projects {
		margin-top: -20px;
    min-height: 495px;
	}

	.skills {
		min-height: 300px;
	}

	.skills-text {
		padding: 50px 80px;
	}
}
/*

