.main, .skills, .about, .projects {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.title {
	margin-left: 73px;
	top: 220px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

div.skills-title {
	position: absolute;
	background-color: transparent;
	font-size: 25px;
	width: 100%;
	margin-top: 14%;
	text-align: center;
}

div.title p, div.skills-title p {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: bold;
}

div.fill-blanks {
	margin-left: 372px;
	top: 216px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

div.fill-blanks p {
font-size: 50px;
font-family: 'Over the Rainbow', cursive;
}

.main {
    background-image: url(./images/laptop_edited.jpg);
    min-height: 600px;
    opacity: 0.8;
}

.skills {
		background-image: url(./images/skills.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.about {
    background-image: url(./images/shadow2.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.projects {
    background-image: url(./images/projector.jpeg);
    min-height: 400px;
    opacity: 0.8;
}

.main-text, .projects-text {
	text-align: justify;
	color: #777;
	background-color:white;
	padding:20px 80px;
	margin: 0 auto;
}

.skills-text {
	text-align: justify;
	background-color: #1D2126;
	color: white;
	padding:50px 80px;
}


span.caption {
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 37px;
}
/*
.animate{
 stroke-dasharray: 300;
 stroke-dashoffset: 300;
 animation: dash 5s linear forwards;
}
@keyframes dash {
to {
 stroke-dashoffset: 0;
 }
}
*/
